<h6><b>ngOnChanges(), ngOnInit(), ngDoCheck(), ngDestroy()</b></h6>
<button class="btn btn-primary" (click)="created=!created">{{ !created ? 'Create':'Destroy'}}</button>
&nbsp;
<button class="btn btn-primary" *ngIf = 'created' (click)="changecurrentUser()">Change currentUser</button>&nbsp;
<button class="btn btn-primary" *ngIf="created" (click)="changecurrentUserName()">change current user Name</button>
<!-- (click)="created = !created">{{ !created ? 'Create':'Destroy' -->
<br><br>
<input type="text" [(ngModel)] = "currentUser.name"><br><br>
<app-user-cycle *ngIf ="created" [user]="currentUser"></app-user-cycle>
<br><br>
<h6><b>ngAfterViewInit, ngAfterViewChecked</b></h6>

<a [routerLink]="['/components-templates/lifecycle-hooks/view-hooks']">Click Here for View Hooks Example</a><br>

<br><br>

<h6><b>ngAfterContentInit(), ngAfterContentChecked()</b></h6>
<a [routerLink]="['/components-templates/lifecycle-hooks/content-hooks']">Click Here for Content Hooks Example</a>